/* root */
html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
	padding-top: 100px;
}

/* banner */
header[role="banner"] {
    padding: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #fff;
}
header[role="banner"] .brand {
    margin: 0;
    color: #B0B0B0;
}

header[role="banner"] a {
	color: #B0B0B0;
}

header[role="banner"] a:hover {
	text-decoration: none;
}

.post-header a{
	text-decoration: none;
}

/* navbar */
#navbar {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	float: left;
	font-size: 2em;
}

#navbar ul li { display: inline; }

#navbar ul li a
{
	text-decoration: none;
	padding: .2em 1em;
	color: #78AAE8;
}

#navbar ul li a:hover
{
	color: #005580;
}

.active
{
	color: #95B0D1;
}

/* contact */
#contact {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#contact ul li { display: inline; }

#contact ul li a
{
	text-decoration: none;
	padding: .1em 1em;
}

.contact {
	width: 300px;
}

/* footer */
footer[role="contentinfo"] {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid #f2f2f2;
    background-color: #fff
}
footer[role="contentinfo"] p {
    color: #999;
    margin: 0;
}

#nav-rss {
	float: right;
}