/* root */

* {
	margin: 0;
}
html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

ul {
	list-style: none;
}
ul li {
	text-decoration: none;
}

p {
	font-family: 'Raleway', sans-sefif;
}

h1 {
	font-family: 'Raleway', sans-sefif;
	color: #21506E;
}

a:hover {
	text-decoration: none;
}

body {
	height: 100%;
}

.project{
  margin-bottom: 20px;
}

.project-title{
  border-bottom: 2px solid #ddd;
}

.project img{
  width: 250px;
  margin: 0px 10px 10px 0px;
}

.section-title{
  margin-top: 20px;
}

.divider {
	border-bottom: 2px solid #999;
}

#brand {
	text-align: center;
	font-family: 'Lobster Two', cursive;
}

#brand small {
	font-size: .4em;
}

#wrap {
	background-color:#fff;
    min-height: 100%;
    width: 100%;
    height: auto !important;
    margin: 0 auto -30px; /* Negate indent footer by its height*/
}

.container {
	max-width: 729px;
}

header[role="banner"] {
    box-shadow: box-shadow: 0 4px 2px -2px rgba(110,110,110,0.5);
}
header[role="banner"] .brand {
}

header[role="banner"] a {
	font-size: 1.5em;
	color: #235A76;
}

header[role="banner"] a:hover {
	color: #3587B1;
}

#navbar {
	margin-right: 6em;
	padding: 0;
	list-style-type: none;
	text-align: center;
	float: left;
	font-size: 2em;
}

#navbar ul li { display: inline; }

#navbar ul li a
{
	padding-right: 5px;
	color: #5477A2;
}

#navbar ul li a:hover
{
	color: #78AAE8;
}

#social {
	margin: auto;
	padding: auto;
	list-style-type: none;
	text-align: center;
}

#social ul li { display: inline; }

#social ul li a
{
	padding-right: 1em;
}

.social {
	width: 100px;
}

#about  img: {
		width: 100px;
		height: 100px;
}

#about h1 {
	text-align: center;
}

#content {
	margin: 15px;
}


#content p {
	font-size: 14px;
}

.inner-content {
	padding-left: 30px;
}

.hero-unit {
	background-color:rgba(0,0,0,0);
}

hr{
	width: auto;
	height: 2px;
	background: #78AAE8;
}

.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
/* pagination */
.previous
.next {
	font-size: 1.5em;
	vertical-align: middle;
}

.next {}
.previous {}

/* posts */
.post-header a{
	color: #5477A2;
}

.attr-list li {
	list-style: none;
}

.well {
	background-color: rgba(220, 220, 220, 0.1);
}

/* buttons */
.btn-green {
	  background-color: hsl(145, 62%, 68%) !important;
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#7adfa4");
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4));
	  background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4);
	  background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4));
	  background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4);
	  background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4);
	  background-image: linear-gradient(#cdf3dd, #7adfa4);
	  border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%);
	  color: #333 !important;
	  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
	  -webkit-font-smoothing: antialiased;
}

.btn-red {
  background-color: hsl(0, 69%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111));
  background-image: -moz-linear-gradient(top, #b42121, #5e1111);
  background-image: -ms-linear-gradient(top, #b42121, #5e1111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111));
  background-image: -webkit-linear-gradient(top, #b42121, #5e1111);
  background-image: -o-linear-gradient(top, #b42121, #5e1111);
  background-image: linear-gradient(#b42121, #5e1111);
  border-color: #5e1111 #5e1111 hsl(0, 69%, 17%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

/* footer */
#push,
#footer{ 
	height: 30px;
}

#footer {
	position: relative;
	bottom: 0px;
	border-top: 3px solid #78AAE8;
	width: 100%;
	text-align: center;
    padding: 30px 30px 50px 20px;
    font-size: 1em
}
#footer p {
    color: #666;
    margin: 0;
}

#footer ul {
	margin: auto;
	padding: auto;
	list-style-type: none;
	text-align: center;
}

#footer ul li { display: inline; }

#footer ul li a
{
	color: #0088cc;
	padding-right: 1em;
}

#footer a:hover
{
	color: #C8E0EF;
}
