---
layout: default
title: Sean Kay
---

<div id="blog-entries">
	{% for post in paginator.posts %}
   	<h2 class="post-header tk-header-font">
   		<a href="{{post.url}}">{{ post.title }}</a>
   		<small>
    		<span class="date"> &raquo; {{ post.date | date_to_string }} </span>
    	</small>
   	</h2>
	<div class="content">
	    <p class="tk-p-font">{{ post.content }}</p>
	</div>
	<hr>
	{% endfor %}
	<div id="post-pagination" class="pagination">

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a class="previous" href="/"><</a>
    {% else %}
    <a  class="previous"href="/page{{paginator.previous_page}}"><</a>
    {% endif %}
  {% else %}
  <span class="previous disabled"><</span>
  {% endif %}

  <ul class="pages">
    <li class="page">
      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
    <li class="page">
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/page{{count}}">{{count}}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% if paginator.next_page %}
  <a class="next" href="/page{{paginator.next_page}}"><p>></p></a>
  {% else %}
  <span class="next disabled"><p>></p></span>
  {% endif %}

</div>
</div>