<div class="section-title portfolio">
  <h1>Portfolio</h1>
</div>
<div id="portfolio">
  <div class="project">
    <h3 class="project-title">
      <a href="http://thedistrict.in" target="_blank">thedistrict.in</a>
    </h3>
    <a href="http://thedistrict.in" target="_blank">
      <img class="thumbnail pull-left" src="/img/portfolio/thedistrict.png" alt="thedistrict" />
    </a>
    <p class="project-info">A publicly aggregated source of everything that has to do with Washington D.C. 
    A social site enabling users to create posts, upload images, and advertise events. 
    The site is user centric, and registration and authentication is handled by the site, or optionally, 
    by Google via OAuth2. It is equipped with a robust backend admin section. 
    The admin can modify user posts, images, and events, or modify sections of the site itself, such as the header, 
    list of neighborhoods, list of categories, or the colors on the site. 
    The site also features a responsive interface for a better experience on mobile devices.
    </p>
  </div>
  <div class="project">
    <h3 class="project-title">
      <a href="http://on-track.herokuapp.com" target="_blank">OnTrack</a>
    </h3>
    <p>
    <a href="http://on-track.herokuapp.com" target="_blank">
      <img class="thumbnail pull-left" src="/img/portfolio/ontrack.png" alt="ontrack"/>
    </a>
    Goal oriented fitness tracker integrated with USDA food database for meal planning 
    and a backend admin section with basic CMS functionality.
    </p>
  </div>
</div>
<div class="clearfix"></div>
